.App-header {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.exerciseOneContainer{
   width: 100%;
   display: flex;
   text-align: center;
   font-size: calc(10px + 20 * (100vh / 1280));
}
.startBlock{
   flex: 1 1 10%;
   background: #868388;
}
.middleBlock1{
   flex: 1 1 30%;
   background: #05070D;
}
.middleBlock2{
   flex: 1 1 50%;
   background: #0703FC;
}
.endBlock{
   flex: 1 1 10%;
   background: #868388;
}

.exerciseTwoContainer{
   margin-top: 20px;
}